
    </div>
    <footer id="myFooter">


      <div class="container">
        <div class="row">
          <div class="col-sm-4 my-auto">
            <span style="font-size:2.3em;" class="text-success">Pushm.io<small style="font-size:0.45em;margin-left:3px;" class="text-warning">beta</small></span>
          </div>
          <div class="col-sm-2">
            <h4>Info</h4>
            <ul>
							<li><a href="/info/#useCaseBox">Use Cases</a></li>
							<li><a href="/info/#howToBox">How to</a></li>
              <li><a href="/info/#featuresBox">Features</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>Further resources</h4>
            <ul>
							<li><a href="https://www.urbanairship.com/push-notifications-explained" target="_blank">What are Push Notifications?</a></li>
              <li><a href="https://gadgets.ndtv.com/mobiles/features/how-to-turn-off-push-notifications-on-your-computer-and-smartphone-1639825" target="_blank">How to disable Push Notifications?</a></li>
              <li><a href="/termsandconditions" target="_blank">Terms & Conditions</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <div class="social-networks" style="margin-top:0px;padding-top:0px;">
              <!--a href="https://twitter.com/Worthy_Airdrops?ref_src=twsrc%5Etfw" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/worthyairdrops/" class="facebook"><i class="fab fa-facebook" ></i></a-->
              <a href="https://t.me/pushmio" class="telegram"><i class="fab fa-telegram-plane"></i></a>
            </div>
						<button type="button" class="btn btn-success" onclick="$('#contactUsModal').modal('show');">Contact us</button>
          </div>
        </div>
      </div>
      <!--div class="footer-copyright">
          <p>© 2018 WorthyAirdrops </p>
      </div-->
    </footer>

    <div class="modal fade" id="contactUsModal">
			<div class="modal-dialog modal-dialog-centered justify-content-center" >
				<div class="modal-content" style="width:100%;">
					<form method="post" action="<?php echo $mee; ?>">
						<div class="modal-header">
							<legend class="text-center" style="padding-top: 2%;">Contact</legend>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" style="padding: 3% 5%;">
							<div class="text-center justify-content-center">
								<h4 class="text-center">For any inquieries please send an email to:</h4>
								<h5 class="text-center text-white">pushmioadm@gmail.com</h5>
                <!--(replace * with the correct letter)-->
							</div>
						</div>
						<div class="text-center justify-content-center" style="margin-bottom: 5%;">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>

  </body>
</html>
