<%
var title = 'Pushm.io Info - How to build your customized notification feed and filter its attributes';
var metaDescription = 'No need to disable or deactivate annoying push notifications completely. In under a minute and free of charge you can create your new feed, connct devices and add filters.';
var keywords = 'info, how to, install push notifications, create new notification feed';
%>

<% include partials/header %>
<link rel="stylesheet" href="/css/info.css">

<br />
<div class="container">
  <div class="row" id="howtoBox">
  <!-- App Features Wrapper -->
    <div class=" col-lg-9 mx-auto">
      <div class="container">
        <h1 class="text-center">How to create and configure your push notification feed</h1>
        <br />
        <div class="media">
          <span class="media-left text-center">
            <i style="font-size:3.7em;" class="fas fa-pencil-alt text-warning"></i>
          </span>
          <div class="media-body my-auto">
            <h5>1. Create a new feed</h5>
            <p class="text-muted">
              On the top of this page, put some name for your feed and set your password.
              The name should contain no whitespace.
              You will later use your name to find your feed across all devices.
            </p>
          </div>
        </div>
        <br />
        <div class="media">
          <span class="media-left text-center" >
            <i style="font-size:3.7em;" class="fas fa-bell text-danger"></i>
          </span>
          <div class="media-body my-auto">
            <h5>2. Allow Notifications</h5>
            <p class="text-muted">
              Your browser will promt you to allow receiving notifications to your device.<br /><br />
            </p>
          </div>
        </div>
        <br />
        <div class="media">
          <span class="media-left text-center" >
            <i style="font-size:3.7em;" class="fas fa-plus-square text-success"></i>
          </span>
          <div class="media-body my-auto">
            <h5>3. Add channels to your feed (f.e. subreddits or twitter profiles)</h5>
            <p class="text-muted">
              Choose which channels you want to receive notifications from.
              On your feedpage click the plus button and copy-paste the social media or news channels urls.
            </p>
          </div>
        </div>
        <br />
        <div class="media">
          <span class="media-left text-center">
              <i style="font-size:3.7em;" class="fas fa-play-circle text-primary"></i>
          </span>
          <div class="media-body my-auto">
            <h5>4. Connect your device(s)</h5>
            <p class="text-muted">
                To subscribe to your own feed with your current device simply press the subscribe button.
                If you want to subscribe on another device you have to visit your feeds url on that device with any modern browser (preferably chrome) and hit the button there.
            </p>
          </div>
        </div>
        <br />
        <div class="media">
          <span class="media-left text-center">
            <i style="font-size:3.7em;" class="fas fa-envelope text-white"></i>
          </span>
          <div class="media-body my-auto">
            <h5>That's it!</h5>
            <p class="text-muted">
                Now you will receive push notifications from your added channels to your connected device(s).
                To keep your subscription active you need to resubscribe at least once a month.<br />
            </p>
          </div>
        </div>
        <br />
        <div class="media">
          <span class="media-left text-center">
            <i style="font-size:3.7em;" class="fas fa-filter text-info"></i>
          </span>
          <div class="media-body my-auto">
            <h5>Optionally filter your channels</h5>
            <p class="text-muted">
                Click on the edit button for each channel to filter its posts.
                You can filter by popularity, words or phrases and authors.
            </p>
          </div>
        </div>

        <br />
      </div>
    </div>
  </div>
  <br /><br />
</div>

<br />
<div id="useCaseBox">
  <br /><br /><br />
  <div class="container">
    <h1 class="text-white text-center">What do you use Pushm.io for?</h1>
    <br /><br />
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <span class="media-left">
            <img src="/img/usecaseprofiles/sebastianstocks.png" style="width:100%;">
          </span>
          <div class="media-body my-auto">
            <br/>
            <h5 class="text-white">Ivar, 36, Trader</h5>
            <p class="text-muted">
                Hello. I am a stock and cryptocurrency trader who buys and sells depending on news and social media.
                With this simple tool i keep track of all major news channels.
                Whenever one of them writes something about a stock/coin that i hold, i will be notified wherever i am.
                Then i can buy or sell as one of the first, depending on the news. Thank you for this tool!
            </p>
          </div>
        </div>
        <br /><br/>
        <div class="media">
          <span class="media-left">
            <img src="/img/usecaseprofiles/lauragaming.png" style="width:100%;">
          </span>
          <div class="media-body">
            <br/>
            <h5 class="text-white">Laura, 22, Gamer</h5>
            <p class="text-muted">
              I was so annoyed of push notification on my phone..
              Because i subscribed to a lot of gaming channels i used to get lots of messages about games i don't even play.
              Before i started using pushm.io i had already deactivated them for all apps.
              I set my filters accordingly and now only get about 2 interesting notifications a day.
              This way push notifications are not annying at all anymore.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <span class="media-left">
            <img src="/img/usecaseprofiles/samirablogging.png" style="width:100%;">
          </span>
          <div class="media-body">
            <br />
            <h5 class="text-white">Samira, 29, Blogger</h5>
            <p class="text-muted">
                My hobby and profession is writing articles for my own blogs.
                In some of my niches it is very good to publish news very soon to rank higher in search engines.
                Pushm.io helps me keeping up with all important news updates about my niches without having to read through all the spam.
                This way i get more ideas for articles and can write and publish them faster.
            </p>
          </div>
        </div>
        <br /><br/>
        <div class="media">
          <span class="media-left">
            <img src="/img/usecaseprofiles/hakimnaruto.png" style="width:100%;">
          </span>
          <div class="media-body">
            <br />
            <h5 class="text-white">Hakim, 23, Fan</h5>
            <p class="text-muted">
                Hi i'm Hakim. I use pushmio for keeping up to date with new manga and anime chapter releases.
                I have added /r/anime, /r/manga and also some Twitter channels.
                Then i filter only posts regarding my favorite books/series.
                Whenever a new episode is released i get notified instantly. Greets.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <h3 class="text-center text-white">..and you?</h3>
    <br /><br /><br />
  </div>
</div>
<div id="featuresBox">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 px-0 py-5" id="featuresBoxPic">
        <!--img class="mt-auto mb-auto" src="img/app-promo/iphone-app-screenshot.png" alt="App Screenshot - Shards App Promo Demo Page"-->
      </div>

      <!-- App Features Wrapper -->
      <div class=" col-lg-6 col-md-8 col-sm-12 py-5 mx-auto">
        <div class="container">
          <!--h1 class="text-center text-dark">Features</h1-->
          <br />
          <div class="media">
            <span class="media-left text-center">
              <i style="font-size:4.4em;" class="fab fa-creative-commons-nc text-warning"></i>
            </span>
            <div class="media-body my-auto">
              <h5 class="text-dark">It's free!</h5>
              <p class="text-muted">
                We offer you a free plan with almost no limits.<br /><br />
              </p>
            </div>
          </div>
          <br />
          <div class="media">
            <span class="media-left text-center">
              <i style="font-size:3.8em;" class="fas fa-filter text-danger"></i>
            </span>
            <div class="media-body my-auto">
              <h5 class="text-dark">Filter social media and news channels</h5>
              <p class="text-muted">
                Use our tool to choose for yourself what messages you want the get forwarded to your devices.
                Filter posts by specific words, popularity, authors and more.
              </p>
            </div>
          </div>
          <br />
          <div class="media">
            <span class="media-left text-center">
              <i class="fas fa-cloud text-info"></i>
            </span>
            <div class="media-body my-auto">
              <h5 class="text-dark">Manage the notification feed for all your devices from one place</h5>
              <p class="text-muted">
                  You can add different devices to your feed, receiving the same notifications across your desktops, mobiles or tablets.
                  Your channels and filters are stored in the cloud.
              </p>
            </div>
          </div>
          <br />
          <div class="media">
            <span class="media-left text-center">
              <i class="fas fa-users text-secondary"></i>
            </span>
            <div class="media-body my-auto">
              <h5 class="text-dark">Let your friends or followers be part of your feed</h5>
              <p class="text-muted">
                  Not only yourself but also other users can subscribe to your feed.
                  Simply share your feeds url with them.
              </p>
            </div>
          </div>
          <br />
          <div class="media">
            <span class="media-left text-center">
              <i style="color:grey;" class="fab fa-chrome text-success"></i>
            </span>
            <div class="media-body my-auto">
              <h5 class="text-dark">No app installation needed</h5>
              <p class="text-muted">
                  To add a new device on desktop or mobile simply visit your feeds url and hit subscribe, that's it!
                  The only thing that you will need is a browser that supports serviceworkers (f.e. chrome, chrome mobile, firefox, opera ..)
              </p>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
