<%
var title = 'Pushm.io Terms and Conditions';
var metaDescription = 'What to take care of when using this website.';
var keywords = 'terms and conditions, t&c';
%>


<% include partials/header %>
<!--script src="/js/buy.js"></script-->
<link rel="stylesheet" href="/css/termsandconditions.css">
<style>
.list-group {
  margin-left:2rem;
}
</style>


<br />
<div class="container">

  <br />
  <div class="row justify-content-center">
  	<div class="col-lg-5">
      <h1 class="text-center" style="color:white;">Terms and Conditions</h1>
    </div>
  </div>
  <br /><br/>
  <div class="row justify-content-center">
  	<div class="col-lg-5">
  		<h3 class="text-success">Introduction</h3>
  		<ul class="list-group text1">
  			<li><p >These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website. </p></li>
  			<li><p >This website uses cookies. By using this website and agreeing to these terms and conditions, you consent to our use of cookies.</p></li>
  		</ul>

  		<h3 class="text-success">License to use website</h3>
  		<ul class="list-group text1">
  			<li><p>Unless otherwise stated, Pushm.io and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p></li>
  		</ul>

  		<h3 class="text-success">You must not:</h3>
  		<ul class="list-group text1">
  			<li><p>Republish material from this website (including republication on another website)</p></li>
  			<li><p>Sell, rent or sub-license material from the website</p></li>
  			<li><p>Show any material from the website in public</p></li>
  			<li><p>Reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose</p></li>
  		</ul>

  		<h3 class="text-success">Acceptable use</h3>
  		<ul class="list-group text1">
  			<li><p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p></li>
  			<li><p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p></li>
  			<li><p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without Pushm.ios express written consent.</p></li>
  		</ul>

  		<h3 class="text-success">Unenforceable provisions</h3>
  		<ul class="list-group text1">
  			<li><p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p></li>
  		</ul>

  		<h3 class="text-success">Indemnity</h3>
  		<ul class="list-group text1">
  			<li><p>You hereby indemnify Pushm.io and undertake to keep Pushm.io indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by Pushm.io to a third party in settlement of a claim or dispute on the advice of Pushm.io legal advisers) incurred or suffered by Pushm.io arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p></li>
  		</ul>

  		<h3 class="text-success">Breaches of these terms and conditions</h3>
  		<ul class="list-group text1">
  			<li><p>Without prejudice to Pushm.io other rights under these terms and conditions, if you breach these terms and conditions in any way, Pushm.io may take such action as Pushm.io deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p></li>
  		</ul>

      <h3 class="text-success">User content and data</h3>
  		<ul class="list-group text1">
  		<li><p>In these terms and conditions,  "user content and data" means material (including without limitation personal information, text, images, audio material, video material) that you submit to this website, for whatever purpose.</p></li>
  		<li><p>You grant to Pushm.io a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content and user data in any existing or future media.  You also grant to Pushm.io the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p></li>
  		<li><p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or Pushm.io or a third party (in each case under any applicable law).  </p></li>
  		<li><p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p></li>
  		<li><p>Pushm.io reserves the right to edit or remove any material submitted to this website, or stored on Pushm.io's servers, or hosted or published upon this website.</p></li>
  		<li><p>By using to this website you accept your automatic sign up to our update emails and newsletter.</p></li>
      <li><p>By using to this website you grant pushm.io the permission to send you any number and types of contents (including advertisements) to your connected devices / submitted device endpoints. (We are honest and will always try to keep ads and errors as low as possible, but we have to be legally secured, sorry!)</p></li>
  		</ul>
  	</div>

  	<div class="col-lg-5">
      <h3 class="text-success">Assignment</h3>
      <ul class="list-group text1">
        <li><p>Pushm.io may transfer, sub-contract or otherwise deal with Pushm.io rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p></li>
        <li><p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions. </p></li>
      </ul>

      <h3 class="text-success">Variation</h3>
      <ul class="list-group text1">
        <li><p>Pushm.io may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.</p></li>
      </ul>

      <h3 class="text-success">Law and jurisdiction</h3>
      <ul class="list-group text1">
        <li><p>These terms and conditions will be governed by and construed in accordance with Austrian Law, and any disputes relating to these terms and conditions will be subject to the [non-]exclusive jurisdiction.</p></li>
      </ul>

  		<h3 class="text-success">No warranties</h3>
  		<ul class="list-group text1">
  			<li><p>This website is provided “as is” without any representations or warranties, express or implied.  Pushm.io makes no representations or warranties in relation to this website or the information and materials provided on this website.</p></li>
  			<li><p>Without prejudice to the generality of the foregoing paragraph, Pushm.io does not warrant that: this website will be constantly available, or available at all; or the information on this website is complete, true, accurate or non-misleading.</p></li>
  			<li><p>Nothing on this website constitutes, or is meant to constitute, advice of any kind.</p></li>
  		</ul>

  		<h3 class="text-success">Limitations of liability</h3>
  		<ul class="list-group text1">
  			<li><p>We are trying to keep everything running and as expected - that you get every notification according to your settings. However, we cannot guarantee for the system to always work properly and you must never rely on pushm.io's service. Pushm.io will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p></li>
  			<li><p>for any indirect, special or consequential loss; or for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</p></li>
  			<li><p>These limitations of liability apply even if Pushm.io has been expressly advised of the potential loss.</p></li>
  		</ul>

  		<h3 class="text-success">Exceptions</h3>
  		<ul class="list-group text1">
  			<li><p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit Pushm.io's liability in respect of any:</p></li>
  			<li><p>death or personal injury caused by Pushm.io's negligence; fraud or fraudulent misrepresentation on the part of Pushm.io; ormatter which it would be illegal or unlawful for Pushm.io to exclude or limit, or to attempt or purport to exclude or limit, its liability. </p></li>
  		</ul>

  		<h3 class="text-success">Reasonableness</h3>
  		<ul class="list-group text1">
  			<li><p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p></li>
  			<li><p>If you do not think they are reasonable, you must not use this website.</p></li>
  		</ul>

  		<h3 class="text-success">Other parties</h3>
  		<ul class="list-group text1">
  			<li><p>You accept that, as a limited liability entity, Pushm.io has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against Pushm.io officers or employees in respect of any losses you suffer in connection with the website.</p></li>
  			<li><p>You agree that the limitations of warranties and liability set out in this website disclaimer will protect Pushm.io officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as Pushm.io.</p></li>
  		</ul>

  		<h3 class="text-success">Severability</h3>
  		<ul class="list-group text1">
  			<li><p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. </p></li>
  		</ul>

  		<h3 class="text-success">Entire agreement</h3>
  		<ul class="list-group text1">
  			<li><p>These terms and conditions constitute the entire agreement between you and Pushm.io in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p></li>
  		</ul>
  	</div>
  </div>

  <br /> <br />
  <div class="text-center">
  <p><cite title="Source Title"></cite></p>
  <small></small>
  </div>
  <br /><br/>
</div>


<% include partials/footer %>
